{% extends 'base.html' %}

{% block title %}{{Project_Name}}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% for theme in theme_view %}
<h4>
    <a href="{% url 'company:detail' Project_Name=Project_Name pk=theme.id %}"> {{theme.text}}</a>
</h4>
{% endfor %}
<a href="{% url 'company:upload' Project_Name=Project_Name %}" class="btn btn-xs btn-success">업로드</a>
<a href="{% url 'company:logout' Project_Name=Project_Name %}" class="btn btn-xs btn-success">Logout</a>
{% else %}
<a href="{% url 'company:login' Project_Name=Project_Name %}" class="btn btn-xs btn-success">Login</a>
{% endif %}

{% endblock %}